@using FinancialCalculator.Common
@model CreditResult

@{
    ViewBag.Title = "Credit Results";
    Layout = null;
}

<h1>Credit Results</h1>
<table>
    <tr>
        <td><strong>Annual Percentage Cost (APR):</strong></td>
        <td>@Model.Apr%</td>
    </tr>
    <tr>
        <td><strong>Average Monthly Payment:</strong></td>
        <td>@Model.AverageMonthlyPayment</td>
    </tr>
    <tr>
        <td><strong>Total Repaid with Interest:</strong></td>
        <td>@Model.TotalPayments</td>
    </tr>
    <tr>
        <td><strong>Fees and Commissions:</strong></td>
        <td>@Model.TotalFees</td>
    </tr>
    <tr>
        <td><strong>Total Interest Paid:</strong></td>
        <td>@Model.TotalInterest</td>
    </tr>
    <tr>
        <td><strong>Contributions (Total Principal Repaid):</strong></td>
        <td>@(Model.TotalPrincipal + Model.TotalInterest)</td>
    </tr>
</table>
<h2>Amortization Schedule</h2>
<table border="1" style="text-align: center; vertical-align: middle;">
    <tr>
        <th>Month</th>
        <th>Date</th>
        <th>Remaining Balance</th>
        <th>Payment</th>
        <th>Principal</th>
        <th>Interest</th>
        <th>Fees</th>
    </tr>
    @foreach (AmortizationEntry entry in Model.AmortizationSchedule)
    {
    <tr>
        <td>@entry.Month</td>
        <td>@entry.Date</td>
        <td>@entry.RemainingBalance.Round(2)</td>
        <td>@entry.Payment.Round(2)</td>
        <td>@entry.Principal.Round(2)</td>
        <td>@entry.Interest.Round(2)</td>
        <td>@entry.Fees.Round(2)</td>
    </tr>
    }
</table>
